# Server Port (Do NOT use 5000, 5001, or 5050)
PORT=8080

# MongoDB Database Connection String
MONGODB_URI=mongodb://localhost:27017/expense-ai-tracker

# Gemini API Key (Configure via google AI Studio or Google Cloud Vertex)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
